*{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    height: 72px;
    border: 5px;
    color: #FFFFFF;
    font-weight: 800px;
    font-size: 24px;
    border: 0px;
    padding: 18px 36px;
    border-radius: 5px;
    background: #FD6E0A;
}

/* header & navigation style */
header{
    border: 1px solid black;
    width: 100vw;
}
.header{
    background-color: #FFF8F3;
    background-image: url(/images/header_bg.png), url(/images/developer.png);
    background-repeat: no-repeat;
    background-position: right bottom, left;
}
nav{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    margin: 50px 100px;
    align-items: center;
}
.nav-title{
    font-weight: 800;
    font-size: 50px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
/* Banner */
/* #banner-bg{
    background-color: #FFF8F3;
    background-image: url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
} */
.banner{
    display: flex;
    border: 1px solid green;
    align-items: center;
    margin: 0 100px;
}
.banner-title{
    font-weight: 600px;
    font-size: 70px;
    text-shadow: 2px 3px 6px #FD6E0A;
}
.banner-subtitle{
    font-weight: 600px;
    font-size: 30px;
}
.banner-description{
    color:gray;
    font-size: 20px;
    margin-top: 20px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    margin-bottom: 40px;
}
.banner button{
    margin-right: 20px;
}
/* main */
main{
    margin-top: 100px;
    border: 1px solid red; 
    margin: 10px auto;
    width: 100vw;
}
/* Section - About */
.about{
    margin: 100px;
    border: 1px solid red; 
    border-radius: 15px;
    background: #FFF8F3;
    padding: 50px 150px;
    text-align: center;
}
.section-title{
    border: 1px solid red;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 700;
}
.section-description{
   margin-bottom: 50px;
   border: 1px solid red;
}
.about-info-container{
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
}